{% load static %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/result.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/cal.css' %}">
    <title>Result</title>
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
</head>
<body id="bg" style="background-image: url('{% static "images/bgcover.png" %}')";>
<div class="main">
<div class="row">
<div class="form-submit">
<form action="processing" method="post">
                {% csrf_token %}
    <button type="submit" value="submit" class="submit" id="reset" name="calorie">1. Find Calories</button>
    <button type="submit" value="load" class="submit" id="reset" name="load">2. Load Data</button>
    <button type="submit" value="processing" class="submit" id="reset" name="processing">3.PreProcessing</button>
    <button type="submit" value="classification" class="submit" id="reset" name="classification">4.Classification</button>

</form>
</div>
</div>
{% block content %}
    <div id="review">
    <h1>{{data.list}}</h1>
    </div>

{% endblock %}

</body>
</html>